* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* text-align: center; */
}

.btn {
  font-size: 17px;
  font-weight: lighter;
  background-color: red;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: white;
}
.btn:hover {
  background-color: transparent;
  outline: 2px solid red;
  color: red;
}

/* ------------ */

.header {
  height: 670px;
  /* background-color: blue; */
  grid-column: 1/7;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.headline {
  padding: 20px;
  grid-column: 1/-1;
}

.headline > h1 {
  font-size: 45px;
  font-weight: 700;
  line-height: 50px;
  margin-top: 80px;
}

.headline > p {
  color: gray;
  margin-top: 30px;
  line-height: 30px;
}

.headline_img {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  place-items: center;
  /* background-color: aquamarine; */
  height: 280px;
  cursor: pointer;
}

.img1 > p:hover,
.img2 > p:hover,
.img3 > p:hover {
  color: black;
}

.headline_img p {
  margin-top: 10px;
  line-height: 25px;
  text-align: center;
  color: gray;
}
.headline_img img {
  margin-top: 10px;
  margin-left: 25px;
  object-fit: contain;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.header_img {
  grid-column: 7/-1;
  background-color: rosybrown;
  height: 670px;
}
.header_img img {
  object-fit: cover;
  height: 670px;
  width: 100%;
}

/* ---------------- */

/* ---------------- */

.welcome_img {
  /* width: 400px; */
  height: 650px;
  grid-column: 1/6;
  background-color: yellow;
}
.welcome_img img {
  object-fit: fill;
  width: 100%;
  height: 650px;
}

.welcome_text {
  /* background-color: red; */
  height: 650px;
  grid-column: 6/-1;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.welcome {
  padding: 0 80px 0 80px;
  margin-top: 50px;
}
.welcome h2 {
  font-size: 35px;
  color: rgb(213, 43, 43);
}
.welcome h3 {
  margin-top: 15px;
  font-size: 25px;
  margin-bottom: 10px;
}
.welcome p {
  color: gray;
  line-height: 25px;
  margin-bottom: 40px;
}

.welcome_recipe {
  padding: 0 80px 0 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 47px 1fr;
}
.welcome_heading {
  height: 30px;
  width: 250px;
  grid-column: 1/-1;
}
.welcome_heading h3 {
  font-size: 22px;
}
.welcome-1 img,
.welcome-2 img,
.welcome-3 img {
  width: 170px;
  height: 150px;
}
.welcome-1,
.welcome-2,
.welcome-3 {
  margin-left: 10px;
}
.welcome-1 p,
.welcome-2 p,
.welcome-3 p {
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  color: gray;
}

/* -------------------- */

/* -------------------- */

/* ------------------------- */
.book_table_img {
  background-color: rgb(140, 124, 124);
  grid-column: 1/6;
  height: 650px;
}
.book_table_img img {
  width: 100%;
  height: 650px;
  object-fit: fill;
}

.book_table_form {
  /* background-color: lightsalmon; */
  grid-column: 6/-1;
  height: 650px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 130px 1fr;
}
.book_table_form h1 {
  padding: 50px;
  margin-left: 30px;
  margin-top: 10px;
}
.book_table_form h1 > span {
  color: red;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 10px; */
  padding: 50px;
  margin-left: 30px;
}
form > p > label {
  font-size: 20px;
}
form > p > input {
  font-size: 15px;
  padding: 15px 25px;
  border: 1px solid gray;
  outline: none;
  margin-top: 10px;
  letter-spacing: 1.5px;
}
form > p > select {
  padding: 15px 25px;
  border: 1px solid gray;
  font-size: 15px;
  margin-top: 10px;
  outline: none;
  width: 235px;
  color: gray;
}

p > button {
  margin-top: 10px;
}

/* -------------------- */

/* footer */

.wrapper-2 {
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.footer {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
}
.footer h4{
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.f1{
    /* background-color: red; */
    padding: 20px;
}
.f1 p{
  line-height: 30px;
  color: gray;
}
.f2{
    /* background-color: green; */
    padding: 20px;
}
.f2 p{
  line-height: 30px;
}
.timings{
  display: flex;
  color: gray;
  column-gap: 35px ;
}

.f3{
    padding: 20px;
    /* background-color: blue; */
    /* margin-left: -30px; */
    width: 300px;
}
.f3 > p{
    color: gray;
    margin-top: 30px;
    line-height: 30px;
}



.f3 > .f3_form > input{
    width: 235px;
    /* height: 150px; */
    padding: 15px 25px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
    outline: none;
    border: 1px solid gray;
    margin-bottom: 15px;
    color: gray;
    margin-left: -80px;
}
.f3  button {
  margin-left: -80px;
}

.f4{
  padding: 20px;
  /* background-color: orangered; */
  display: flex;
  flex-direction: column;
}
.image_gallery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 300px;
  height: 250px;
  /* background-color: yellowgreen; */
  margin-top: 20px;
}
.image_gallery img{
  width: 100px;
  height: 125px;
  object-fit: cover;
}

.footer_message{
    /* background-color: burlywood; */
    color: black;
    grid-column: 1/-1;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
}

/* footer end*/

/* --------------- */
/* media queries */
@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  /* header */
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./images/header.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
  }

  .headline {
    padding: 20px;
    grid-column: 1/-1;
  }

  .headline > h1 {
    color: white;
  }

  .headline > p {
    color: white;
    width: 400px;
  }

  .headline_img > .btn {
    grid-column: 2/3;
  }

  .headline_img p {
    color: white;
  }

  .header_img {
    display: none;
  }

  /* header end */

  /* body  */
  .welcome_heading {
    height: 30px;
    width: 100%;
    grid-column: 1/-1;
  }
  /* body end */

  /* book table */
  form {
    grid-column: 1fr;
  }
  form > p:last-child {
    /* grid-column: 1fr; */
    grid-column: 1/-1;
  }
  form > p:last-child button {
    width: 100%;
  }
  /* book table end */

  /* footer */
  .footer{
    grid-template-columns: 1fr;
  }


  .wrapper-2 {
    width: 700px;
    height: 1700px;
    text-align: center;
  }
  .footer {
      /* width: 100%; */
      /* margin: 0 auto; */
      display: grid;
      place-items: center;
     
      /* grid-gap: 0px; */
  }
  .footer h4{
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .f1{
      /* background-color: red; */
      /* padding: 20px; */
  }
  .f1 p{
    font-size: 20px;
  }
  .f2{
      /* background-color: green; */
      /* padding: 20px; */
  }
  .f2 p{
    margin-top: 30px;
    font-size: 20px;
  }
  .timings{
    /* display: flex; */
    /* justify-content: center; */
  }
  
  .f3{
      /* padding: 20px; */
      /* background-color: blue; */
      /* margin-left: -30px; */
      width: 500px;
  }
  .f3 > p{
      /* color: gray; */
      /* margin-top: 30px; */
      line-height: 40px;
      font-size: 25px;
  }
  
  
  
  .f3 > .f3_form > input{
      width: 480px;
      /* height: 150px; */
      padding: 15px 25px;
      text-align: center;
      font-size: 15px;
      letter-spacing: 1px;
      outline: none;
      border: 1px solid gray;
      margin-bottom: 15px;
      color: gray;
      margin-left: -80px;
  }
  .f3  button {
    margin-left: -80px;
  }
  
  .f4{
    padding: 20px;
    /* background-color: orangered; */
    display: flex;
    flex-direction: column;
  }
  .image_gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 250px;
    /* background-color: yellowgreen; */
    margin-top: 20px;
  }
  .image_gallery img{
    width: 100px;
    height: 125px;
    object-fit: cover;
  }
  
  .footer_message{
      /* background-color: burlywood; */
      grid-column: 1/-1;
      text-align: center;
      line-height: 50px;
      margin-top: 20px;
  }

  /* footer end*/
}
/* media queries end*/
